body{
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}
h2{
    font-size: 3em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
h2:hover{
    color: #fff;
    text-shadow: 0 0 5px #03E9F0,
    0 0 25px  #03E9F0,
    0 0 55px #03E9F0,
    0 0 100px #03E9F0;
}
p{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
p:hover{
    color: #fff;
    text-shadow: 0 0 5px #f003e4 ,
    0 0 25px  #f003e4,
    0 0 55px #f003e4,
    0 0 100px #f003e4;
}
h3{
    text-align: center;
    font-size: 1.75em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
}
h3:hover{
    color: #fff;
    text-shadow: 0 0 5px #03E9F0,
    0 0 25px  #03f081,
    0 0 55px #03f081,
    0 0 100px #03f081;
}